*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,blue,violet);
    padding: 10px;
}
.ToDoList{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
img{
    width: 35px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 16px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(PicsArt_02-20-07.30.30.jpg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(IMG_20210716_151827_762.jpg);

}
span{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    top: 5px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
span:hover{
    background: #edeef0;
    border-radius: 50%;
}